.current-company {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  .current-company__header {
    @include font-h3caps;
    color: var(--color-main-900);
  }
  .current-company__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 30px;
    justify-items: end;
  }
  .current-company__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: calc(360px / 3);
    padding: 36px 72px;
  }
  .current-company__link {
  }
  .current-company__image {
    width: auto;
    height: 100%;
  }
  .current-company__item:nth-child(1) {
    background-color: #1c4280;
  }
  .current-company__item:nth-child(2) {
    background-color: #143646;
  }
  .current-company__item:nth-child(3) {
    background-color: #f48b30;
  }
  .current-company__item:nth-child(4) {
    background-color: #9e4dc3;
  }
  .current-company__item:nth-child(5) {
    background-color: #fd9339;
  }
  .current-company__item:nth-child(6) {
    background-color: #e2e2e4;
  }
  .current-company__item:nth-child(7) {
    background-color: #c71c36;
  }
  .current-company__item:nth-child(8) {
    background-color: #dcf3f9;
  }
  .current-company__item:nth-child(9) {
    background-color: #eaeaea;
  }
  .current-company__item:nth-child(10) {
    background-color: #282240;
  }
  .current-company__item:nth-child(11) {
    background-color: #1d4568;
  }
  .current-company__item:nth-child(12) {
    background-color: #000;
  }
}

@media (min-width: 1460px) {
  .current-company {
    width: 1440px;
  }
}
@media (max-width: 1460px) {
  .current-company {
    width: 1040px;
    .current-company__item {
      width: calc(1320px / 4);
    }
  }
}
@media (max-width: 1340px) {
  .current-company {
    width: 1000px;
    .current-company__item {
      width: calc(1000px / 4);
    }
  }
}
@media (max-width: 1000px) {
  .current-company {
    width: 768px;
    .current-company__item {
      width: calc(768px / 3);
    }
    .current-company__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      margin-top: 30px;
      justify-items: end;
    }
    .current-company__item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(360px / 3);
      padding: 36px 72px;
    }
  }
}
@media (max-width: 768px) {
  .current-company {
    width: 360px;
    .current-company__item {
      width: 180px;
    }
    .current-company__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      margin-top: 30px;
      justify-items: end;
    }
    .current-company__item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90px;
      padding: 36px 72px;
    }
    .current-company__image {
      width: calc(188px * 0.8);
      height: auto;
    }
  }
}
