:root {
  --color-main-900: #323264;
  --color-main-500: #46466e;
  --color-main-400: #686887;
  --color-accent: #f0145a;
  --color-active-regular: #24a3ff;
  --color-active-hover: #0085ff;
  --color-active-push: #006ccf;
  --color-text: #b3b3ba;
  --color-text-for-dark: #fff;
  --gradient-red-text: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  --gradient-red-text-revers: linear-gradient(
    270.13deg,
    #f0145a 0.84%,
    #ef8080 99.96%
  );
  --color-content-background: #f5f5fa;
  --color-content-activ: #ededf7;
  --color-switcher-background: #e6e6f0;
  --gradient-soft: linear-gradient(
    42.01deg,
    #323264 14.33%,
    #323264 51.39%,
    #7a425e 87.53%
  );
  --gradient-soft-revers: linear-gradient(
    200.01deg,
    #323264 14.33%,
    #323264 51.39%,
    #7a425e 97.53%
  );
  --gradient-red: linear-gradient(121.42deg, #f0145a 30.65%, #693264 107.33%);
  --gradient-supersoft: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );

  //linear-gradient(180deg, rgba(50, 50, 100, 0.1) 0%, #323264 100%),

  --border-radius: 12px;
  --display-size-plus: 50px;
  --display-size-1: 1320px;
  --display-size-2: 1000px;
  --display-size-3: 764px;
  --display-size-4: 320px;
}
html {
  color: black;
  font-family: 'TTNorms', sans-serif;
  font-size: 10px;
}
body {
  background-color: rgb(255, 255, 255);
}
.container {
  width: 1320px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 1440px) {
  .container {
    width: var(--display-size-1);
  }
}
@media (max-width: 1340px) {
  .container {
    width: var(--display-size-2);
  }
}
@media (max-width: 1020px) {
  .container {
    width: var(--display-size-3);
  }
}
@media (max-width: 788px) {
  .container {
    width: var(--display-size-4);
  }
}

@mixin font-h1 {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: calc(49.57 / 42);
}
@mixin font-h2 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: calc(37.77 / 32);
}
@mixin font-h3caps {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: calc(16.14 / 14);
  text-transform: uppercase;
}
@mixin font-h3 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: calc(28.32 / 24);
}
@mixin font-h4 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: calc(21.24 / 18);
}
@mixin font-h4caps {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: calc(21.24 / 18);
  text-transform: uppercase;
}
@mixin font-articl-big {
  font-size: 2.1rem;
  font-weight: 300;
  line-height: calc(30 / 21);
}
@mixin font-articl {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: calc(26 / 18);
}
@mixin font-link {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: calc(20 / 16);
}
@mixin font-ul {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: calc(22 / 16);
}
@mixin font-adres {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: calc(18.88 / 16);
}
@mixin font-logo {
  font-size: 3.8rem;
  font-weight: 400;
  line-height: calc(44.85 / 38);
}
@mixin font-logo-mobile {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: calc(22.42 / 19);
}
@mixin container {
  width: 1320px;
  margin-right: auto;
  margin-left: auto;
}
@mixin heading {
  @include font-h1;
  background: var(--gradient-red-text);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (max-width: 788px) {
    @include font-h1;
  }
}
@mixin text {
  @include font-articl-big;
  @media (max-width: 788px) {
    @include font-articl;
  }
}
@mixin language-switcher-mixin {
  .lng {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    input[type='radio'] {
      width: 0;
      margin: 0;
      opacity: 0;
    }
    label {
      padding: 5px 6px;
      border-radius: 8px;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.1;
      text-transform: uppercase;
      &:focus-within {
        border: 1px solid black;
      }
    }
    label:hover {
      background-color: var(--color-content-activ);
    }
    input[type='radio']:focus + label {
      color: var(--color-text);
    }
    input[type='radio']:checked + label {
      background-color: var(--color-accent);
      color: var(--color-text-for-dark);
    }
  }
}
@mixin listing {
  .listing {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 16px;
    .listing__item {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      opacity: 0.2;
      background-color: var(--color-active-regular);
    }
    .listing__item:hover {
      opacity: 0.6;
      background-color: var(--color-active-hover);
    }
    .listing__item:active {
      background-color: var(--color-active-push);
    }
    .listing__item:first-child {
      opacity: 1;
    }
  }
}
@mixin button-more-posts {
  .button-more-posts {
    display: flex;
    //width: 250px;
    margin-right: auto;
    margin-left: auto;
    padding: 16px 64px;
    border-radius: var(--border-radius);
    background-color: var(--color-active-regular);
    box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
    color: var(--color-content-background);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: calc(16 / 14);
    &:hover {
      background-color: var(--color-active-hover);
    }
    &:active {
      background-color: var(--color-active-push);
    }
  }
}
@mixin contacts-cicle {
  width: 6px;
  height: 6px;
  margin: 0 10px;
  border-radius: 50%;
}
@mixin open-menu {
  @media (max-width: 768px) {
    & :hover:after {
      content:'';
      display:block;
      position:fixed;
      top:0;
      left:0%;
      width:100%;
      height:100vh;
      background-color:var(--color-main-900);
      opacity: 0.7;
      transition: 0.2s;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: transparent;
    gap: 4px;
    .menu-open-nav-decor {
      display: flex;
      width: 18px;
      height: 2px;
      background-color: var(--color-text-for-dark);
    }
    &:hover {
      visibility: visible;
      transition: 0.6s;
      border-radius: var(--border-radius);
      opacity: 1;
      background-color: var(--color-content-activ);
    }
    
    &:active {
      .menu-open-nav-decor {
        background-color: var(--color-main-900);
      }
    }
  }
}
@mixin header-nav {
  .header-hero__nav {
    display: flex;
    grid-area: navigation;
    align-items: center;
    .header__list {
      @include font-h4;
      gap: 15px;
      display: flex;
      align-items: center;
      color: var(--color-text-for-dark);
      .header__list-item {
        padding-bottom: 2px;
        border-bottom: 2px solid transparent;
        & {
          @media (max-width: 768px) {
            border-bottom: none;
            color: none;
          }
        }
      }
      .header__list-item:hover {
        border-bottom-color: var(--color-accent);
        color: var(--color-accent);
      }
    }
  }
  @media (max-width: 768px) {
    .header-hero__nav {
      position: relative;
      &:hover .header__list {
        visibility: visible;
        transition: 0.6s;
        opacity: 1;
      }
      .header__list {
        display: flex;
        visibility: hidden;
        position: absolute;
        top: 20px;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        opacity: 0;
        gap: 11px;
        .header__list-item {
          @include font-h3;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 320px;
          height: 44px;
          border-radius: var(--border-radius);
          background-color: var(--color-content-background);
          color: var(--color-active-regular);
          font-weight: 500;
          &:hover {
            background-color: var(--color-content-activ);
            color: var(--color-active-regular);
          }
          &:active {
            background-color: var(--color-content-activ);
            color: var(--color-active-regular);
          }
        }
      }
    }
  }
}
@mixin header {
  @include header-nav;
  .header {
    @include language-switcher-mixin;
    display: grid;
    grid-template-areas:
      'logo language contacts'
      'logo navigation navigation';
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin-top: 50px;
    & {
          @media (max-width: 768px) {
            margin-top: 20px;
          }
        }
    justify-items: end;
    .language-switcher {
      grid-area: language;
    }
  }
  .contacts-header {
    grid-area: contacts;
    .contacts-header__list {
      display: flex;
      align-items: center;
    }
    .contacts-header__item {
      @include font-adres;
      display: flex;
      align-items: center;
      color: var(--color-text-for-dark);
      .contacts-header__link {
        display: flex;
      }
    }
    .contacts-header__item:nth-child(3n) {
      font-weight: 500;
    }
    .contacts-header__cicle {
      width: 6px;
      height: 6px;
      margin: 0 10px;
      border-radius: 50%;
      background-color: var(--color-text-for-dark);
    }
  }
  .header-hero__nav {
    display: flex;
    grid-area: navigation;
    align-items: center;
    .header__list {
      @include font-h4;
      gap: 15px;
      display: flex;
      align-items: center;
      color: var(--color-text-for-dark);
      .header__list-item {
        padding-bottom: 2px;
        border-bottom: 2px solid transparent;
        & {
          @media (max-width: 768px) {
            border-bottom: none;
            color: none;
          }
        }
      }
      .header__list-item:hover {
        border-bottom-color: var(--color-accent);
        color: var(--color-accent);
      }
    }
  }
  .menu-open-nav {
    @include open-menu;
  }
  .hero-content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    .header-content__heading {
      width: 460px;
      color: var(--color-text-for-dark);
      font-size: 3.8em;
      font-weight: 500;
      line-height: calc(44.85 / 38);
      text-align: center;
    }
    .header-content__button-more {
      position: absolute;
      bottom: 20px;
      width: auto;
      height: 42px;
      border-radius: 50%;
    }
    .header-content__button-more:hover {
      border: 0;
      background: var(--color-active-hover);
    }
    .header-content__button-more:active {
      border: 0;
      background: var(--color-active-push);
    }
  }
  .logo {
    display: inline-flex;
    grid-area: logo;
    justify-self: start;
    .logo__link-main {
      display: block;
      width: 154px;
      height: 62px;
      background-image: url('../images/logo-on-dark.svg');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: cover;
      & {
        @media (max-width: 768px) {
          width: 78px;
          height: 31px;
        }
      }
      .logo__headig {
        color: transparent;
      }
    }
    .logo__caption {
      @include font-logo;
      height: 45px;
      margin-left: 5px;
      padding-right: 41px;
      padding-left: 21px;
      background-image: url('../images/logo-slash.svg'),
        url('../images/symbol-logo.svg');
      background-repeat: no-repeat;
      background-position: left, right;
      background-size: auto 100%;
      color: var(--color-text-for-dark);
      .logo__link {
        margin-right: 1px;
      }
      & {
        @media (max-width: 768px) {
          @include font-logo-mobile;
          height: 24px;
          padding-right: 21px;
          padding-left: 11px;
        }
      }
    }
  }
  @media (max-width: 1020px) {
    .header {
      grid-template-areas:
        'language contacts'
        'logo logo'
        'navigation navigation';
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      justify-items: start;
    }
  }
  @media (max-width: 768px) {
    .header {
      grid-row-gap: 20px;
      grid-template-areas:
        'language contacts contacts'
        'logo logo navigation';
      grid-template-columns: auto 1fr auto;
      grid-template-rows: 1fr 1fr;
      justify-items: end;
    }
    .contacts-header__cicle {
      display: none;
    }
    .contacts-header__item:nth-child(1),
    .contacts-header__item:nth-child(4) {
      display: none;
    }
    .contacts-header__item:nth-child(3) {
      color: var(--color-text);
      font-weight: 700;
    }
    .language-switcher {
      justify-self: start;
    }
    .header-hero {
      margin-top: 20px;
    }
  }
}

@include header;
