.hero {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-image: linear-gradient(
      180deg,
      rgba(50, 50, 100, 0) 16.67%,
      #323264 100%
    ),
    url('../images/hero/hero-p.svg'), url('../images/hero/random-p.svg'),
    linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7a425e 87.53%);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto 40%, auto calc(76.5vh - 112px), auto calc(90vh - 112px),
    auto;
  //var(--gradient-soft);
}
.header-her__list-item {
  font-size: 1.2rem;
  font-weight: 700;
}
// .selctor {
//   display: grid;
//   grid-gap: 33px;
//   background-image: linear-gradient(to left, red, blue);
// }
.header {
  @include language-switcher-mixin;
  display: grid;
  grid-template-areas:
    'logo language contacts'
    'logo navigation navigation';
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  margin-top: 50px;
  justify-items: end;
  & {
    @media (max-width: 768px) {
      display: grid;
      grid-row-gap: 20px;
      grid-template-areas:
        'language language contacts'
        'logo navigation navigation';
      grid-template-rows: auto;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
.header__nav {
  align-self: end;
}
.language-switcher {
  grid-area: language;
}
.contacts-header {
  grid-area: contacts;
  .contacts-header__list {
    display: flex;
    align-items: center;
  }
  .contacts-header__item {
    @include font-adres;
    display: flex;
    align-items: center;
    color: var(--color-text-for-dark);
    .contacts-header__link {
      display: flex;
    }
  }
  .contacts-header__item:nth-child(3n) {
    font-weight: 500;
  }
  .contacts-header__cicle {
    width: 6px;
    height: 6px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: var(--color-text-for-dark);
  }
}
.header-hero__nav {
  display: flex;
  grid-area: navigation;
  align-items: center;
  .header__list {
    @include font-h4;
    gap: 15px;
    display: flex;
    align-items: center;
    color: var(--color-text-for-dark);
    .header__list-item {
      padding-bottom: 2px;
      border-bottom: 2px solid transparent;
      & {
        @media (max-width: 768px) {
          border-bottom: none;
          color: none;
        }
      }
    }
    .header__list-item:hover {
      border-bottom-color: var(--color-accent);
      color: var(--color-accent);
    }
  }
}
.header-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  .header-content__heading {
    width: 460px;
    color: var(--color-text-for-dark);
    font-size: 3.8em;
    font-weight: 500;
    line-height: calc(44.85 / 38);
    text-align: center;
  }
  .header-content__button-more {
    position: absolute;
    bottom: 20px;
    width: auto;
    height: 42px;
    border-radius: 50%;
  }
  .header-content__button-more:hover {
    border: 0;
    background: var(--color-active-hover);
  }
  .header-content__button-more:active {
    border: 0;
    background: var(--color-active-push);
  }
}
.menu-open-nav {
  @include open-menu;
}

@include header-nav;

@media (max-width: 768px) {
  .contacts-header__cicle {
    display: none;
  }
  .contacts-header__item:nth-child(1),
  .contacts-header__item:nth-child(4) {
    display: none;
  }
  .contacts-header__item:nth-child(3) {
    color: var(--color-text);
    font-weight: 700;
  }
  .language-switcher {
    justify-self: start;
  }
  .header-hero {
    margin-top: 20px;
  }
  //@include header-nav;
}
