.hero {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-image: linear-gradient(
      180deg,
      rgba(50, 50, 100, 0) 16.67%,
      #323264 100%
    ),
    url('../images/hero/hero-p.svg'), url('../images/hero/random-p.svg'),
    linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7a425e 87.53%);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto 40%, auto calc(76.5vh - 112px), auto calc(90vh - 112px),
    auto;
}
